<?xml version="1.0"?>
<!--
/*
 * Turiknox_Homesliders

 * @category   Turiknox
 * @package    Turiknox_Homesliders
 * @copyright  Copyright (c) 2017 Turiknox
 * @license    https://github.com/turiknox/magento2-home-sliders/blob/master/LICENSE.md
 * @version    1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <homesliders>
            <slider>
                <automate>1</automate>
                <speed>7000</speed>
                <direction>1</direction>
                <paging>1</paging>
                <pause>1</pause>
                <link>1</link>
            </slider>
        </homesliders>
    </default>
</config>